CONFIG PART = XC3S500E-VQ100-4 ;
#CONFIG PART = XC3S250E-VQ100-4 ;

#NET I_CLK_REF  TNM_NET = clk_ref_grp;
#TIMESPEC TS01 = PERIOD : clk_ref_grp : 31.25ns : PRIORITY 1;   # 32.00 MHz

TIMESPEC TS11 = FROM:PADS:TO:FFS : 30 ns;
TIMESPEC TS12 = FROM:FFS:TO:PADS : 10 ns;

NET CLK					LOC = "P89"  | IOSTANDARD = LVCMOS25 | PERIOD = 31.25ns; # 32.00 MHz oscillator











#NET "flagd"  LOC = "T10" |IOSTANDARD = LVCMOS33 |DRIVE = 12 ;
#NET "pkt_end"  LOC = "T11" |IOSTANDARD = LVCMOS33 |DRIVE = 12 ;
#NET "sync"  LOC = "G12" |IOSTANDARD = LVCMOS33 |DRIVE = 12 ;
#NET "done"  LOC = "G11" |IOSTANDARD = LVCMOS33 |DRIVE = 12 ;









#NET FLASH_CS					LOC = "P24"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
#NET FLASH_CK					LOC = "P50"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
#NET FLASH_SI					LOC = "P27"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
#NET FLASH_SO					LOC = "P44"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP;

NET fdata<6>				LOC = "P78"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW  ; 
NET fdata<7>				LOC = "P83"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW  ;
NET fdata<4>				LOC = "P68"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW  ;
NET fdata<5>				LOC = "P71"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW  ; 
NET fdata<2>				LOC = "P63"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW  ; 
NET clk_out				LOC = "P36"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW  | CLOCK_DEDICATED_ROUTE = FALSE; 
#NET LCD_DATA<0>				LOC = "P62"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW  ; 
#NET LCD_DATA<3>				LOC = "P60"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW  ; 
#NET LCD_DATA<2>				LOC = "P57"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW  ;
NET faddr<1>				LOC = "P54"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW  ; 
NET faddr<0>				LOC = "P41"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW  ; 
#NET LCD_DATA<7>				LOC = "P35"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW  ; 
#NET LCD_DATA<6>				LOC = "P33"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW  ; 
NET fdata<1>				LOC = "P61"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW  ; 
NET fdata<0>				LOC = "P58"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW  ; 
NET fdata<3>				LOC = "P66"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW  ; 
#NET sloe						LOC = "P34"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP | TNM_NET = TS12; 
#NET flaga						LOC = "P32"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST; 
NET slwr						LOC = "P25"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST  | TNM_NET = TS12; 
#NET slrd						LOC = "P22"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST  | TNM_NET = TS12; 
#NET reset_n_out						LOC = "P85"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ; 
#NET done						LOC = "P18"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ; 
NET sync						LOC = "P23"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ; 
NET flagd					LOC = "P26"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ; 
NET reset_n						LOC = "P85"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ; 


	
